extends layout



block content

    h1= title

    p Welcome to #{title}

    p Math.acosh() is applied to #{number1} is #{cosT}

    p Math.log1p() is applied to #{number2} is #{logger}

    p Math.tan() is applied to #{number3} is #{tn}

    p Math.sqrt() is applied to #{number4} is #{sqr}